src/service/FileServer.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ftp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ftp/" name="FileServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://ftp/" schemaLocation="http://localhost:8080/FileServer?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="logoff">
<part name="parameters" element="tns:logoff"></part>
</message>
<message name="logoffResponse">
<part name="parameters" element="tns:logoffResponse"></part>
</message>
<message name="upload">
<part name="parameters" element="tns:upload"></part>
</message>
<message name="uploadResponse">
<part name="parameters" element="tns:uploadResponse"></part>
</message>
<message name="download">
<part name="parameters" element="tns:download"></part>
</message>
<message name="downloadResponse">
<part name="parameters" element="tns:downloadResponse"></part>
</message>
<message name="getFileList">
<part name="parameters" element="tns:getFileList"></part>
</message>
<message name="getFileListResponse">
<part name="parameters" element="tns:getFileListResponse"></part>
</message>
<portType name="FileServer">
<operation name="login">
<input wsam:Action="http://ftp/FileServer/loginRequest" message="tns:login"></input>
<output wsam:Action="http://ftp/FileServer/loginResponse" message="tns:loginResponse"></output>
</operation>
<operation name="logoff">
<input wsam:Action="http://ftp/FileServer/logoffRequest" message="tns:logoff"></input>
<output wsam:Action="http://ftp/FileServer/logoffResponse" message="tns:logoffResponse"></output>
</operation>
<operation name="upload">
<input wsam:Action="http://ftp/FileServer/uploadRequest" message="tns:upload"></input>
<output wsam:Action="http://ftp/FileServer/uploadResponse" message="tns:uploadResponse"></output>
</operation>
<operation name="download">
<input wsam:Action="http://ftp/FileServer/downloadRequest" message="tns:download"></input>
<output wsam:Action="http://ftp/FileServer/downloadResponse" message="tns:downloadResponse"></output>
</operation>
<operation name="getFileList">
<input wsam:Action="http://ftp/FileServer/getFileListRequest" message="tns:getFileList"></input>
<output wsam:Action="http://ftp/FileServer/getFileListResponse" message="tns:getFileListResponse"></output>
</operation>
</portType>
<binding name="FileServerPortBinding" type="tns:FileServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="logoff">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="upload">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="download">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFileList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FileServerService">
<port name="FileServerPort" binding="tns:FileServerPortBinding">
<soap:address location="http://localhost:8080/FileServer"></soap:address>
</port>
</service>
</definitions>